/* =========================================================================
 *
 *   PRINT.CSS: PRINTER FRIENDLY VERSION    
 *        
 * ========================================================================= */

/* Set default colors and font-size */
body,
#body-inner,
#page,
#content-middle	 {
	background: #fff none;
	width: auto;
	color: #000;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.messages {
  border: 1px solid #000;
  background-color: #fff;
}

a:link, a:visited {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}

/* Hide unnecessary regions */
.sidebar,
#header,	
#footer {
	display: none;
} 