/* =========================================================================
 *
 *   RESET.CSS
 *   Based on http://meyerweb.com/eric/tools/css/reset
 *        
 * ========================================================================= */

html,
body,

/* Structures */

div,
span,
applet,
object,
iframe,

/* Text */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,

/* Forms */

form,

/* Drupal: system.css */

tr.even,
tr.odd,
tr.drag,
tbody,
tbody th,
thead th,
.breadcrumb,
.error,
div.error,
tr.error,
.warning,
div.warning,
tr.warning,
.ok,
div.ok,
tr.ok,
.item-list .icon,
.item-list .title,
.item-list ul,
.item-list ul li,
ol.task-list li.active,
.form-item,
tr.odd .form-item,
tr.even .form-item,
tr.merge-down,
tr.merge-up,
.form-item .description,
.form-item label,
.form-item label.option,
.form-checkboxes,
.form-radios,
.form-checkboxes .form-item,
.form-radios .form-item,
.marker,
.form-required,
.more-link,
.more-help-link,
.item-list .pager,
.item-list .pager li,
.pager-current,
.tips,
dl.multiselect dd.b,
dl.multiselect dd.b .form-item,
dl.multiselect dd.b select,
dl.multiselect dd.a,
dl.multiselect dd.a .form-item,
dl.multiselect dt,
dl.multiselect dd,
dl.multiselect .form-item,
ul.primary,
ul.primary li,
ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover,
ul.secondary,
ul.secondary li,
ul.secondary a,
ul.secondary a.active,
html.js fieldset.collapsible legend a,
html.js fieldset.collapsed legend a,
.resizable-textarea {
  margin:0px;
  padding:0px;
  border:0px;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  line-height:inherit;
}

/* fieldset */

fieldset { 
	border:1px solid #ccc; 
	overflow:hidden; 
	position:relative;
}

html.js fieldset.collapsed legend { 
	display:inline;
}

/* lists */

ul,
ol,
li,
.item-list ul {
  margin: 0;
  padding: 0;
}

.item-list ul li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* remember to highlight inserts */

ins { 
	text-decoration: none;
}

del { 
	text-decoration: line-through; 
}

/* tables */

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

td {
  vertical-align: top;
}

/* Markup free clearing: http://www.positioniseverything.net/easyclearing.html */

.clear-block:after,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.clear-block,
.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block,
* html .clearfix  {
  height: 1%;
}

.clear-block,
.clearfix {
  display: block;
}
/* End hide from IE-mac */
