/* =========================================================================
*   General Styles
* ========================================================================= */

/* Only use styles that are used everywhere, all other styles go in media queries */

* {
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 21px;
	color: #4c4c4c;
}

p {
	margin: 15px 0;
}

a {
	color: #89bdd1;
}

a:hover {
	color: #000;
}

h1, h2, h3, h4 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 23px;
	text-shadow:0 1px 0 #FFFFFF;
	line-height: 30px;
	padding-bottom:15px;
	margin-top: 15px;
}

h2 {
	font-size: 16px;
}

#page {
	overflow: hidden;
}

/* Content */

#sidebar-first {
	background: #EEE;
}

/* =========================================================================
 *   BLOCK: DEFAULT BLOCK LAYOUT. 
 * ========================================================================= */

.block {
}

h2.block-title { 
}

.block-content { 
}


/* =========================================================================
*   NODE: DEFAULT NODE LAYOUT
* ========================================================================= */

.node { 
}

.node-content {
}

/* Add Display Suite CSS here */


/* =========================================================================
 *   MESSAGES
 * ========================================================================= */

div.messages {
}

div.warning {
}

div.status {
}

div.error {
}

#help {
}


/* =========================================================================
*   Media Queries
* ========================================================================= */

@media only screen and (min-width: 290px) {
	
	#page {
		width: 280px; /* edit to change the width of the page */
		margin: 0 auto; /* remove 'auto' and the width to switch to a fluid width */
	}
	
	/* Navigation */
	
	#navigation li {
		background: #EEE;
		margin-bottom: 5px;
	}
	
	/* Content */
	
	#logo {
		margin-left: 70px;
	}
	
	#logo,
	#search,
	#sidebar-first,
	#content {
		float: none;
	}
	
	#content {
		width: 100%;
	}
	
}

@media only screen and (min-width: 544px) {
	
	#page {
		width: 550px; /* edit to change the width of the page */
		margin: 0 auto; /* remove 'auto' and the width to switch to a fluid width */
	}
	
	/* Header */

	#logo {
		float: left;
		margin-left: 0;
	}
	
	#search {
		float: right;
		margin-top: 50px;
		width: 20%;
	}
	
	/* Navigation */
	
	#navigation li {
		float: left;
		margin-right: 20px;
	}
	
	/* Content */
	
	#content {
		float: left;
		width: 66%;
		margin-right: 20px;
	}
	
	#sidebar-first {
		float: right;
		width: 30%;
	}
	
}

@media only screen and (min-width: 960px) {
	
	#page {
		width: 960px; /* edit to change the width of the page */
		margin: 0 auto; /* remove 'auto' and the width to switch to a fluid width */
	}
	
	/* Header */

	#logo {
		float: left;
	}
	
	#search {
		float: right;
		margin-top: 50px;
		width: 20%;
	}
	
	/* Navigation */
	
	#navigation li {
		float: left;
		margin-right: 20px;
	}
	
	/* Content */
	
	#content {
		float: left;
		width: 76%;
		margin-right: 20px;
	}
	
	#sidebar-first {
		float: right;
		width: 20%;
	}
	
}
